/* resetear el documento */
*{
    border: 200;
    margin: 0; /*margen exterior*/
    padding: 0;/*margen interior*/
    box-sizing: border-box;
    /* Padding hacia adentro */
    /* display: block; Automaticamente ocupar todo el ancho*/ 
}

a{
    text-decoration: none;
}

body{
    background-color:aquamarine;
    color: blue;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
}

header{
    background: #f3f3f3;
    width: 90%;
    margin: 0 auto;
    /* Sirve para centrar */
    /* Revisar sin el auto y sin el 0 */
    padding: 20px, 100px;
    display: flex;
    justify-content: space-around;
}

header h1 {

}